
<body>
  <div class="top" id="imagen">
    <img <%= image_tag "logo_w.png" %> >
  </div>

  <div class="top" id="label" >
    <strong>Whop is who </strong>
  </div>

<div class="panel" >

</div>

<div class="show">

</div>
  



</body>