
<div id="profile-show">
  <div id="profile-avatar">
    <%= image_tag @user.avatar.url(:medium)%>
  </div>

  <div id="profile-panel">
    <strong> Nombre: </strong>
    <p>  <%= @user.name %> </p>
  </div><br>

  <div id="back-button">
    <%= button_to "Back", welcomes_path, method: "get" %> 
  </div>

</div>
