

<div id="profile-show">
  <%= image_tag @user.avatar.url(:medium)%>

  <div id="profile-panel">
    <strong> Nombre: </strong>
    <p>  <%= @user.name %> </p>
  </div><br>

  <a href=" " id="back_link">Back</a> 
 <!--  <%= link_to "Back", welcomes_path %> -->
</div>
