
<body>
  <div class="top" id="logo">
    <%= image_tag "logo_w.png" %>

    <div id="banner" >
    <strong id="title"> Who is who </strong>
    </div> 
  </div>

  <br>

<div id="show" >
  <div id="panel">
    <p id="fancy">Who's Who</p>
    <form>
      <input type="text" placeholder="Search..." required>
      <input type="button" value="Search">
    </form>
    <ul id="no-style-list">
      <li>Intereses</li>
      <li>Originario de</li>
      <li>Escuela</li>
      <li>Mes de Cumpleaños</li>
      <li>Puesto</li>

    </ul>
  </div>


  <div id="photo-show">

    <table>
      <% m = 0 %>
      <% for i in 1..how_much_rows %>
      <tr>
          <% @users.drop(m).each_with_index do |user, m| break if m == 4 %>
        <td>
           <%= user.name %>
        </td>
          <% end %>
         <% m += 4 %>

      </tr>
      <% end %>   
    </table>

  </div>


</div>



</body>