// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#biger_size{
  font-size: 1.3em;
  font-family: Arial, sans-serif;
}

#link{
  color: red;
}
