// Place all the styles related to the Wellcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-color: #5882FA;
}

.top{ 
	height: 20%;
	position: relative;
}


#banner{
	background-color: gray;
	border-radius: 7px;
	border: 5px solid black;
	float: right;
	height: 75px;
	margin-right: 20%;
	width: 220px;
}

#centre-table{
	margin: 25px;
}

#fancy{
	font-family: Arial, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
}


#logo{
	display: block;
	margin-left: 50px;
	margin: left;
}

#no-style-list{
	font-size: 1.3em;
	list-style-type: none;

}

#panel{
	background-color: white;
	border: 3px solid gray;
	float: left;
	height: 60%;
	position: relative;
	width: 26%;
}

#photo-format{
	width: 46%;
	height: 50%;
}

#photo-show{
	background-color: white;
	float: right;
	position: relative;
	height: 70%;
	width: 860px;
}

#show{
	background-color: white;
	height: 70%;
	margin-left: 15px;
	margin-right: 15px;
}

#title{
	color: red;
	font-family: Verdana, sans-serif;
	font-size: 25px;
	line-height: 75px;
	position: relative;
	text-align: center;
	vertical-align: middle;
}




