// Place all the styles related to the Wellcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-color: #5882FA;
}

.top{ 
	position: relative;
	height: 20%;
}


#logo{
	display: block;
	margin-left: 50px;
	margin: left;
}


#baner{
	float: right;
	margin-right: 20%;
	width: 220px;
	height: 75px;
	border-radius: 7px;
	background-color: gray;
	border: 5px solid black;
}

#show{
	background-color: white;
	margin-left: 15px;
	margin-right: 15px;
	height: 70%;
	

}

// kefale = head in geek
#kefale{
	font-family: Verdana, sans-serif;
	font-size: 25px;
	color: red;
	text-align: center;
	vertical-align: middle;
	line-height: 75px;
	position: relative;

}

#panel{
	background-color: white;
	width: 26%;
	height: 60%;
	border: 3px solid gray;
	position: relative;
	float: left;
}

#fansy{
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 1.5em;
}

#no_style_list{
	list-style-type: none;
	font-size: 1.3em;

}

#photo_show{
	background-color: white;
	position: relative;
	float: right;

}

#photo_format{
	width: 123px;
	
}